@{
    ViewBag.Title = "IndexView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>管理員首頁</h2>

<ul>
    <li>
        @Html.ActionLink("部門管理", "Department", "Admin",null, null)
    </li>
</ul>
