<div class="modal dialog" tabindex="-1" role="dialog" id="fma">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">審核表單</h4>
                <div class="title-data"></div>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist" id="mtabs">
                    <li role="presentation" class="active"><a href="#fma-tab1" aria-controls="tab" role="tab" data-toggle="tab">本文</a></li>
                    <li role="presentation"><a href="#fma-tab2" aria-controls="tab2" role="tab" data-toggle="tab">審核</a></li>
                    <li role="presentation"><a href="#fma-tab3" aria-controls="tab3" role="tab" data-toggle="tab">夾檔</a></li>
                    <li role="presentation"><a href="#fma-tab4" aria-controls="tab4" role="tab" data-toggle="tab">流程</a></li>
                    <li role="presentation"><a href="#fma-tab5" aria-controls="tab5" role="tab" data-toggle="tab">副本</a></li>
                    <li role="presentation"><a href="#fma-tab6" aria-controls="tab6" role="tab" data-toggle="tab">加簽</a></li>
                    <li role="presentation"><a href="#fma-tab7" aria-controls="tab7" role="tab" data-toggle="tab">檢視</a></li>
                </ul>
                <div class="tab-content">
                    <!-- 本文 -->
                    <div role="tabpanel" class="tab-pane active fade in" id="fma-tab1">
                        </br>
                        <form class="form-horizontal"></form>
                    </div>
                    <!-- 審核 -->
                    <div role="tabpanel" class="tab-pane fade in" id="fma-tab2">
                        </br>

                        <form id="fmSign" class="form-horizontal">
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="button" class="btn btn-primary" value="同意" />
                                    <input type="button" class="btn btn-warning" value="不同意" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="txtOpinion">審核意見</label>
                                    <textarea id="txtOpinion" rows="15" class="form-control"></textarea>
                                </div>
                                <div class="col-md-8">
                                    <label for="txtOpinion">審核紀錄</label>

                                    <table id="tbSignHistory" class="display table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:50px;">審核者</th>
                                                <th style="width:100px;">結果</th>
                                                <th>審核時間</th>
                                                <th>意見</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                            @*<div class="col-md-6">

                                 </div>
                                <div class="col-md-6">
                                     <div class="form-group">
                                         <label for="">審核紀錄</label>
                                         <textarea id="" rows="20" class="form-control"></textarea>

                                     </div>
                                 </div>*@

                        </form>
                    </div>
                    <!--夾檔-->
                    <div role="tabpanel" class="tab-pane fade" id="fma-tab3">
                        <table id="tbAttachFile"
                               class="display table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>檔名</th>
                                    <th>上傳時間</th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                    <!--流程-->
                    <style>
                        #tbFlow {
                            display: table;
                            border-collapse: separate;
                        }

                            #tbFlow td[Attributes Style] {
                                white-space: -webkit-nowrap;
                            }

                            #tbFlow td, th {
                                display: table-cell;
                                vertical-align: inherit;
                            }
                    </style>
                    <div role="tabpanel" class="tab-pane fade" id="fma-tab4">
                        <table id="tbFlow">
                            <tbody></tbody>
                        </table>
                        <table id="tbFlowGrid"
                               style="width:95%;font-size:10px;"
                               class="display table table-striped table-bordered table-hover">
                            <thead>
                            <th nowrap>關卡</th>
                            <th nowrap>狀態</th>
                            <th nowrap>簽核者</th>
                            <th nowrap>單位</th>
                            <th nowrap>職稱</th>
                            <th nowrap>簽核狀況</th>
                            <th nowrap>簽核時間</th>
                            <th nowrap>收到時間</th>
                            <th nowrap>簽核意見</th>
                            </thead>

                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="fma-tab5">tab5</div>
                    <div role="tabpanel" class="tab-pane fade" id="fma-tab6">tab6</div>
                    <div role="tabpanel" class="tab-pane fade" id="fma-tab7">tab7</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="bt n btn-primary center-block" data-dismiss="modal">關閉</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
