<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="FAdmin"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> 系統設定<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="flot.html">部門 <span class="badge progress-bar-warning">42</span></a>
                    </li>
                    <li>
                        <a href="flot.html">角色 </a>
                    </li>
                    <li>
                        <a href="flot.html">用戶 </a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-folder-open-o fa-fw"></i>表單管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="fa fa-tasks" href="@Url.Action("Index","FAdmin",null)">所有表單<span class="badge progress-bar-danger">7</span></a>
                    </li>
                    <li>
                        <a class="fa fa-tasks" href="@Url.Action("FlowNeedApprove","FAdmin",null)">待簽核表單<span class="badge progress-bar-danger">7</span></a>
                    </li>
                    <li>
                        <a class="fa fa-tasks" href="#">申請中表單<span class="badge progress-bar-info">8</span></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-folder-open-o fa-fw"></i>申請表單<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a clsss="fa fa-file-o" href="@Url.Action("send", "Frm", new { id=30,co_code=0})">簽呈</a>
                    </li>
                    <li>
                        <a clsss="fa fa-file-o" href="@Url.Action("leave","Form",null)">請假單</a>
                    </li>
                </ul>   
            </li>
         
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>