
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ClearLayout</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)


</body>
</html>
