@using MVCPrj1.Models
@model MVCPrj1.Models.department

@{
    //ViewBag.Title = "Index";
}



<h2>@Model.departmentName 首頁</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

